/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    outline: none;
}

html, body{
    height: 100%;
}

/* End Reset */

/* Start dashboard */
.container{
    display: flex;
}
section.dashboard{
    width: 20%;
    height: auto;
    background-color: rgba(207, 207, 207, 0.3);
    border-right: rgb(16, 85, 128);;
    border-top: 0;
    border-left: 0;
    border-bottom: 0;
    border-style: solid;
    
}
section.dashboard .perfil{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;

}
section.dashboard .perfil .photo_user{
    width: 120px;
    height: 100px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    text-align: center;
    line-height: 120px;
    border: 1px solid #0d9ff3;
}
section.dashboard .perfil .photo_user i{
    font-size: 3em;
    color: #0d9ff3;
}
section.dashboard .perfil .info_user{
    text-align: center;
    margin: 10px 0;
    color: rgb(16, 85, 128);
}
section.dashboard section.options{
    padding: 5px;
}
section.dashboard section.options div{
    padding-bottom: 30px;

}
section.dashboard section.options div a{
    text-decoration: none;
    color: rgb(16, 85, 128);
    font-size: 16px;
    width: 100%;
    display: inline-block;
    border-top-right-radius: 30px;
}
section.dashboard section.options div a:hover{
    background-color: rgb(0, 0, 0);
    color: #0d9ff3;
    transition: 400ms;
}
section.dashboard section.options div a i{
    font-size: 20px;
    padding: 5px;
}
/* Menu Mobile */
section.container .menuMobile{
    width: 100%;
    padding: 10px;
    display: none;
    justify-content: center;
}
section.container .menuMobile .menuToggle{
    cursor: pointer;
}
section.container .menuMobile .menuToggle div{
    width: 40px;
    height: 5px;
    background-color: #0d9ff3;
    margin-bottom: 5px;
    border-radius: 5px;
    transition: 400ms;
}
section.container .menuMobile.on .menuToggle div.one{
    transform: rotate(45deg) translate(7px, 7px);
}
section.container .menuMobile.on .menuToggle div.two{
    opacity: 0;
}
section.container .menuMobile.on .menuToggle div.three{
    transform: rotate(-45deg) translate(7px, -7px);
}
/* End Menu Mobile */

/* End dashboard */

/* Start content */
.container section.content{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container section.content .title{
    margin-top: 200px;
    text-align: center;
}
.container section.content h1{
    font-size: 3em;
    color: #0d9ff3;
}
.container section.content h2{
    color:rgb(16, 85, 128);
    opacity: 0.5;
}
/* End content */

/* Responsive */
@media screen and (max-width: 990px){
    .container{
        flex-direction: column;
    }
    section.container .menuMobile{
        display: flex;
    }
    section.dashboard{
        width: 100%;
        display: none;
        flex-direction: column;
        align-items: center;
        border: none;
    }
    section.dashboard .options nav div a{
        padding: 5px;
    }
    .container section.content{
        width: 100%;
    }
}
/* End Responsive */