<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Novo Curso</title>
    <link rel="stylesheet" href="../css/user.css">
    <script src="https://kit.fontawesome.com/19a74148f2.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="../img/school.png">
    <meta name="author" content="Thainan Sousa">
</head>
<body>
    <section class="userContent">
        <div class="titleContent">
            <h3>Register new ad</h3>
        </div>

        <form>
            <input type="text" name="title" placeholder="Title Ad">
            <input type="text" name="nameComplete" placeholder="Name Complete Author">
            <input type="text" name="datePost" placeholder="Date Post ex: 27/05/2020">
            <input type="text" name="hourPost" placeholder="Hour Post  ex: 15h10">
            <textarea name="description" placeholder="Description"></textarea>
            <input type="file" name="photoProfile" title="Photo Profile">
            <a href="#">Add Ad</a>
        </form>
    </section>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/index.js"></script>
</body>
</html>