<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Usuarios</title>
    <link rel="stylesheet" href="../css/user.css">
    <script src="https://kit.fontawesome.com/19a74148f2.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="../img/school.png">
    <meta name="author" content="Thainan Sousa">
</head>
<body>
    <section class="userContent">
        <div class="titleContent">
            <h3>Welcome the register of users</h3>
        </div>

        <form>
            <input type="text" name="name" id="" placeholder="Name">
            <input type="text" name="lastname" id="" placeholder="Last Name">
            <input type="email" name="email" id=""placeholder="E-mail ex: nome@mail.com">
            <input type="password" name="password" id="" placeholder="Password">
            <input type="text" name="address" id="" placeholder="Address Complete ex: Street, n° 1, Neighborhood, City">
            <input type="text" name="datebirth" id="" placeholder="Date Birth ex: 27/05/2020">
            <select>
                <option value="0">Select the level access</option>
                <option value="1">Administrator</option>
                <option value="2">Collaborator</option>
            </select>
            <a href="#" class="btn">Register</a>
        </form>
    </section>
        <script src="../js/jquery.min.js"></script>
        <script src="../js/index.js"></script>
</body>
</html>